:root {
  --white: #fff;
  --black: #000;

  --bgCol: #111628;

  --dropShadowSubtile: 0px 0px 24px 10px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

body {
  overflow-x: hidden;
  /* background: linear-gradient(180deg, #1d1135 22%, #5867a8 65%); */
}

.arrow--white {
  fill: var(--white);
}

.arrow--right {
  transform: rotate(180deg);
}

.arrow--down {
  transform: rotate(270deg);
}

h1 {
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  color: var(--white);
}

h2 {
  font-size: 3.4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  color: var(--white);
  margin-bottom: 0.6em;
}

.dropShadow {
  box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

#intro {
  background-color: var(--bgCol);
  min-height: 100vh;
  margin: 0 auto;

  padding-top: calc((100vh - 16rem) / 2);
}

#intro div {
  max-width: 42rem;
}

#intro p {
  color: var(--white);

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 2rem;
}

#intro img {
  filter: invert(1);
}

#space {
  background-color: var(--bgCol);
  padding-bottom: 8rem;
}

#space h2 {
  box-sizing: content-box;

  position: sticky;
  top: 0;
  max-width: 42rem;
  margin: 0 auto;

  background-color: var(--bgCol);
  padding: 1rem 25vw 0 25vw;

  z-index: 5;

  margin-bottom: 12rem;
}

#space .graphContainer1 {
  padding-bottom: 8rem;
  top: 12rem;

  position: sticky;
  top: 16rem;

  margin-bottom: rem;
}

#space .graphContainer2 {
  padding-bottom: 6rem;
  position: sticky;
  top: 14rem;

  box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.25);
  padding: 1rem 1rem 1rem 3rem;
}

.graphContainer2inner {
  position: relative;
  display: flex;
  flex-direction: row;
}

.spaceGraph1 {
  height: 92rem;
}

.graph1 {
  position: sticky;
  top: 16rem;

  box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.25);
  padding: 1.2rem;
}

.graph1-info {
  padding: 0.8em;
  background-color: var(--white);
  margin-top: 100%;
}

.labelY {
  position: absolute;
  display: flex;
  flex-direction: row;

  color: var(--white);

  width: fit-content;

  top: 0;
  left: 0;

  transform-origin: 0 0;

  transform: translate(-20%, 700%) rotate(-90deg);
}

.labelY svg {
  margin-left: 0.4rem;
}

.hillBG {
  min-height: 80rem;
  width: 100vw;

  top: 18rem;
  left: 0;

  z-index: -1;

  position: absolute;

  background-image: url(../img/landscape1.svg);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.bgGradient {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -5;

  background: linear-gradient(180deg, var(--bgCol) 0%, #5867a8 50%);
}

.bgBase {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  /* change this to fit content  */
  min-height: 120rem;

  z-index: -10;

  background-color: #111628;
}

#sec3 {
  z-index: 10;
}

main {
  min-height: 100vh;
  margin: 0 auto;
}

.tempDiv {
  background-color: rgba(0, 0, 0, 0.25);
  /* width: 100%; */
  height: 26rem;
  width: 100%;
}

h3 {
  color: white;
  margin-bottom: 0.8em;
}

#downToEarth {
  position: relative;
  /* padding-top: 2rem; */
  margin-top: -1px;
  height: 98rem;
  height: calc((16vh / 9vh) * 100);
  /* height: 100vh; */
}

#downToEarth h2 {
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
}

.graph2-info-container {
  position: relative;
}

.graph2-info {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 1rem;

  background-color: var(--white);

  border-radius: 4px;
  box-shadow: var(--dropShadowSubtile);
}

.modebar {
  display: none;
}

#sec4 {
  padding-top: 1.2rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 6rem;
  background-color: #111628;
}

.sunburst1 {
  padding: 2rem;
  box-shadow: var(--dropShadowSubtile);

  margin-bottom: 4rem;
}

/* .canvas {
  box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
} */

/*
.austronautContainer {
  position: relative;
}

.austronaut {
  position: absolute;
  transform: rotate(-10deg);
  right: 12rem;
  bottom: 4rem;

  width: 14rem;
  height: 14rem;
}

.planets {
  position: relative;
}

.planet1 {
  position: absolute;
  background-color: hotpink;
  width: 24rem;
  height: 24rem;
  border-radius: 50%;

  top: -15rem;
  right: 12rem;

  z-index: -2;
}

.planet2 {
  background-color: orangered;
  width: 18rem;
  height: 18rem;
  position: absolute;
  border-radius: 50%;
  z-index: -2;
  left: 20rem;
  top: -4rem;
}

#sec3 canvas {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
/* }
*/

/* footer {
  background-color: #111628;
} */

/* Tablet */
@media screen and (min-width: 48rem) {
}

/* Desktop */
@media screen and (min-width: 64rem) {
}
